name: Integracion y despliegue continuo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: 'CI-CD-GHPAGES'
  cancel-in-progress: true

jobs:
  verificar_existencia_archivos:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repositorio
        uses: actions/checkout@v4

      - name: mostrar archivos
        run: ls -R

      - name: verificar existencia de archivos
        run: |
          required_files=("index.html" "login.html" "listado-usuarios/listadoUsuarios.html" "listado-usuarios/style.css")
          for file in "${required_files[@]}"; do
            if [ ! -f "$file" ]; then
              echo "❌ Falta el archivo requerido: $file"
              exit 1
            fi
          done
          echo "✅ Todos los archivos requeridos existen."

  desplegar_pagina:
    needs: verificar_existencia_archivos
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: checkout del repo
        uses: actions/checkout@v4

      - name: configurar GitHub Pages
        uses: actions/configure-pages@v5

      - name: subir archivos de despliegue
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: desplegar a GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
